body{
    background: #63636300;
    margin: 0;
}

.navegacion{
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 25px;
    background-color: #8c52ffde;
    box-sizing: border-box;
    font-size: 18px;
    z-index: 11;
    text-align: center;
}
.element-nav-left{
    margin: 0;
    float: left;
    color: white;
    padding: 1px 50px;
}
.element-nav-right{
    margin: 0;
    float: right;
    color: white;
    padding: 1px 50px;
}

.imagen{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 120%;
    z-index: 0;
}

.conteiner-sesion{
    border: 1px solid black;
    inset: 0;
    margin: auto;
    top: 100px;
    width: 90vw;
    height: 80vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.308);
    z-index: 10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-sesion{
    width: 30vw;
    height: auto;
    background-color: aqua;
}

.iniciar-sesion{
    width: 40vw;
    height: 50vh;
    background-color: blue;
}