* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Poppins", sans-serif;
}

@font-face {
  font-family: "FontDePagina";
  src: url("../fonts/Gagalin-Regular.otf") format("opentype");
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c52ff;
  padding: 0 3rem;
  height: 90px;
  min-height: 80px;
  width: 100%;
  color: #fff;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo img {
  width: 65px;
}

.logotipo {
  font-size: 1.9rem;
  font-weight: bold;
}

.tool-bar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.search-icon {
  width: 30px;
}

.search-bar {
  height: 30px;
  max-width: 400px;
  width: 50vw;
  border-radius: 10px;
  border: none;
  padding: 0 16px;
}

.links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}

ul {
  list-style: none;
  display: flex;
}
li a,
u {
  font-family: "FontDePagina";
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}
h3,
p {
  margin-left: 50px;
  color: #ffffff;
  text-align: right;
  font-family: "FontDePagina";
  letter-spacing: 2px;
}
h3 {
  font-size: 45px;
}
p {
  font-size: 32px;
}
.sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-image {
  width: 40px;
}

.user-name {
  font-size: bold;
  font-size: 1.2rem;
}

.banner {
  display: flex;
  height: 700px;
  background: url("../images_icons_background/bckround3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carrusel{
  display: flex;
  align-items: center;
  gap: 8px;
}

.slide {
  display: flex;
  background-color: #000;
  padding: 2px;
  width: 600px;
  height: 300px;
  overflow: hidden;
}

.control {
  width: 50px;
  height: 50px;
  background-color: #8c52ff;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  padding: 10px;
}