* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "FontDePagina", sans-serif;
}

@font-face {
  font-family: "FontDePagina";
  src: url("../fonts/Gagalin-Regular.otf") format("opentype");
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

main {
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c52ff;
  padding: 0 3rem;
  height: 90px;
  min-height: 80px;
  width: 100%;
  color: #fff;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo img {
  width: 65px;
}

.logotipo {
  font-size: 1.9rem;
  font-weight: bold;
}

.tool-bar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.search-icon {
  width: 30px;
}

.search-bar {
  height: 30px;
  max-width: 400px;
  width: 50vw;
  border-radius: 10px;
  border: none;
  padding: 0 16px;
}

.links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}

ul {
  list-style: none;
  display: flex;
}
li a,
u {
  font-family: "FontDePagina";
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}
h3,
p {
  margin-left: 50px;
  color: #ffffff;
  text-align: right;
  font-family: "FontDePagina";
  letter-spacing: 2px;
}
h3 {
  font-size: 45px;
}
p {
  font-size: 32px;
}
.sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-image {
  width: 40px;
}

.user-name {
  font-size: bold;
  font-size: 1.2rem;
}

.banner {
  display: flex;
  height: 700px;
  background: url("../images_icons_background/bckround3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carrusel {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 40%;
}

.slide {
  width: 100%;
  display: flex;
  height: 200px;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 24px;
}

.container {
  background-color: #0005;
  backdrop-filter: blur(5px);
  padding: 16px 32px;
  min-width: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > img {
  height: 150px;
}

.container > p {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.control {
  width: 40px;
  height: 40px;
  background-color: #73ad00;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  padding: 10px;
  filter: invert();
}

.control:hover {
  transform: scale(1.1);
}

.recomendados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 90%;
  height: 60%;
}
h1 {
  font-size: 3rem;
}

h1 span {
  color: #8c52ff;
}

.cartelera img {
  height: 300px;
  box-shadow: 0 0 20px #000b;
}

.cartelera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 300px;
  width: 600px;
  width: 100%;
}
