* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "FontDePagina";
  src: url("../fonts/Gagalin-Regular.otf") format("opentype");
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

main {
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}


p {
  margin-left: 50px;
  color: #ffffff;
  text-align: right;
  font-family: "FontDePagina";
  letter-spacing: 2px;
}

.carrusel {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 40%;
}

.slide {
  width: 100%;
  display: flex;
  height: 200px;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 24px;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-position: center;
}

.background{
  height: 100%;
  width: 100%;
  backdrop-filter: blur(9px) brightness(.75);
  border: 1px solid #0003;
  padding: 16px 32px;
  min-width: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background > img {
  height: 150px;
  box-shadow: 0 0 10px #000e;
}

.background > p {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.control {
  width: 40px;
  height: 40px;
  background-color: #73ad00;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  padding: 10px;
  filter: invert();
}

.control:hover {
  transform: scale(1.1);
}

.recomendados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 90%;
  height: 60%;
}
h1 {
  font-size: 3rem;
  font-family: "FontDePagina", sans-serif;
}

h1 span {
  color: #8c52ff;
}

h2{
  font-family: "FontDePagina", sans-serif;
}

.cartelera img {
  height: 300px;
  box-shadow: 0 0 20px #000b;
}

.cartelera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 65px;
  align-items: center;
  height: 300px;
  width: 600px;
  width: 100%;
}
