nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c52ff;
  padding: 0 3rem;
  height: 90px;
  min-height: 80px;
  width: 100%;
  color: #fff;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-family: "Poppins", sans-serif !important;
}

.logo img {
  width: 65px;
}

.logotipo {
  font-size: 1.9rem;
  font-weight: bold;
}

.tool-bar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.search-icon {
  width: 30px;
}

.search-bar {
  height: 30px;
  max-width: 400px;
  width: 50vw;
  border-radius: 10px;
  border: none;
  padding: 0 16px;
}

.search-bar:focus {
  outline: none;
}

.links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}

ul {
  list-style: none;
  display: flex;
}
li a,
u {
  font-family: "FontDePagina";
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

.sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-image {
  width: 40px;
}

.user-name {
  font-size: bold;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

#sugerencias {
  display: none;
  position: absolute;
  width: calc(100%);
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
  z-index: 1;
  top: 100%;
  left: 0;
  backdrop-filter: blur(8px) brightness(0.8);
  border-radius: 10px; /* Añade bordes redondeados */
  margin-top: 10px; /* Ajusta el margen superior según tu diseño */
  padding: 7px;
}

.search-bar-container {
  position: relative;
}

#sugerencias a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #3339; /* Fondo con un color oscuro */
  border-radius: 8px; /* Bordes redondeados */
  margin-bottom: 8px; /* Ajusta el espacio entre las sugerencias */
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(8px) brightness(0.8);
  transition: background-color 0.3s ease; /* Agrega transición de color de fondo */
}

#sugerencias a:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse */
}

#sugerencias img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#sugerencias div {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

#sugerencias a:last-child {
  border-bottom: none;
}
