* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Poppins", sans-serif;
}

@font-face {
  font-family: 'FontDePagina';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}

html, body {
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C52FF;
    padding: 0 3rem;
    height: 90px;
    min-height: 80px;
    width: 100%;
    color: #FFF;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo img {
    width: 65px;
}

.logotipo {
    font-size: 1.9rem;
    font-weight: bold;
}

.tool-bar {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.search-icon {
    width: 30px;
}

.search-bar {
    height: 30px;
    max-width: 400px;
    width: 50vw;
    border-radius: 10px;
    border: none;
    padding: 0 16px;
}

.links {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    gap: 1rem;
}

ul {
    list-style: none;
    display: flex;
}
li a, u{
    font-family: 'FontDePagina';
    letter-spacing: 2px;
}
a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
}
h3, p{
    margin-left: 50px;
    color: #ffffff;
    text-align: right;
    font-family: 'FontDePagina';
    letter-spacing: 2px;
  }
h3{
  font-size: 45px;
}
p{
  font-size: 32px;
}
.sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-image {
    width: 40px;
}

.user-name {
    font-size: bold;
    font-size: 1.2rem;
}

.banner {
    display: flex;
    height: 700px;
    background: url("../images_icons_background/bckround3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.frase,
.contenedor-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.frase {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-banner {
    width: 500px;
}

.contenedor-logo {
    width: 50%; /* Ajusta según la proporción deseada */
}
.resaltado{
    color: #8C52FF;
    font-family: 'FontDePagina';
}
.titulo-colaboradores{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.titulo-colaboradores, h1 {
    font-family: 'FontDePagina';
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px; 
    color: black;
}
.contenedor-colaboradores{
    display: flex;
    height: auto;
    flex-direction: column;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 380px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.perf-colaborador {
    border-radius: 100%;
    height: 230px;
    width: 230px;
    object-fit: cover;
    border: 8px solid #4f21ab;
    margin-bottom: 20px;
    transition: border-color 0.3s, transform 0.3s; 
}
.perf-colaborador:hover {
    border-color: #3f1593; 
    transform: scale(1.15); 
}
.column h3{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-right: 40px;
    margin-left: 40px;
    color: rgb(62, 62, 62);
}
.column h4{
    font-size: 18px;
    text-align: center;
    margin: 10px;
    margin-right: 30px;
    margin-left: 30px;
    color: rgb(97, 97, 97);
    text-decoration: underline;
}
.column p{
    font-size: 15px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(62, 62, 62);
}
footer {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #8C52FF;
    color: white;
    padding: 20px;
    font-size: 2rem;
    border-top: 5px solid #28024f;
    border-left: 5px solid #28024f;
    border-right: 5px solid #28024f;
}
footer p{
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
footer h4{
    text-align: left;
    font-size: 20px;
    font-family: 'FontDePagina';
    margin-top: 5px;
    margin-left: 5px;
}
.footer-4container{
    width: 25%;
    height: 120px;
    margin: auto;
    padding: 0;
}
.derechos{
    background-color: #672ca4;
    border-top: 5px solid #3c2765;
    border-left: 5px solid #16013f;
    border-right: 5px solid #16013f;
    border-right: 5px solid #16013f;
}
.derechos p{
    font-size: 17px;
    text-align: center;
    margin-top: 7px;
    margin-bottom:7px;
}
