* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Poppins", sans-serif;
} 
  
html, body{
    max-width: 100vw;
    height: 100svh; 
    width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background: url(../images_icons_background/libros-background-1.png) no-repeat;
    background-size: cover;
}


/* Desde aqui es la parte de iniciar sesion */ 
.conteiner-sesion{
    border: 3px solid rgba(0, 0, 0, 0.199);
    margin: auto;
    width: 87vw;
    height: 80vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.caja-img{
    padding: 10px;
    position: relative;
    overflow: hidden;
    background-color: #8C52FF;
    border-radius: 4vb;
    width: 30vw;
    height: 55vh;
    text-align: center;
}
.caja-img img{
    width: 65%;
    height: auto;
    margin: 0 auto;
}
.caja-img h3{
    color: aliceblue;
    font-size: 30px;
    font-family: "Roboto";
    margin-bottom: 5px;
    text-overflow: ellipsis;
}
.caja-img p{
    color: aliceblue;
    font-family: "Arial";
    font-size: 19px;
    text-overflow: ellipsis;
}

.form-sesion{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35vw;
    height: 85vh;
}
.form-user-icon{
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-user-icon img {
    position: absolute;
    height: 100%;
    width: 100%;
}
.form-sesion input{
    border: none;
    padding: 10px;
    width: 350px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.753);
    border-radius: 7px;
    font-size: 16px;
}
.form-sesion button{
    border: none;
    width: 230px;
    height: 45px;
    background-color: #8C52FF;
    border-radius: 20px;
    border: 1px ridge rgba(0, 0, 0, 0.397);
    color: #ffffff;
    font-size: 18px;
}
.form-sesion p{
    color: #ffffff;
}
.form-sesion a{
    text-decoration: none;
    color: #8C52FF;
}
